.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 70px 0 70px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 80px 30px 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding: 80px 14px 0 14px;
  }
}

.search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px) {
  .search__form {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .search__form {
    padding-bottom: 40px;
  }
}

.search__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 22px;
  background-color: #2F2F2F;
  height: 46px;
  border-radius: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .search__bar {
    padding-left: 18px;
  }
}

.search__form-item {
  width: 100%;
  padding: 0 22px 0 0;
  border: none;
  background-color: #2F2F2F;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  color: #8B8B8B;
}

@media screen and (max-width: 600px) {
  .search__form-item {
    font-size: 11px;
  }
}

.search__form-item:focus {
  outline: none;
}

.search__submit-button {
  flex-shrink: 0;
  padding: 0;
  margin: auto;
  margin-right: 6px;
  width: 60px;
  height: 34px;
  background-color: #4285F4;
  border: none;
  border-radius: 48px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.63;
  color: #FFFFFF;
  transition: opacity 0.5s linear;
}

.search__submit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.search__checkbox-label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 40px 0 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search__checkbox-label {
    font-size: 11px;
  }
}

.search__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search__checkbox + .search__visible-checkbox {
  position: relative;
  height: 20px;
  width: 36px;
  border-radius: 20px;
  background-color: #2F2F2F;
  transition: all .2s linear;
}

.search__checkbox:checked + .search__visible-checkbox {
  background-color: #3DDC84;
}

.search__checkbox + .search__visible-checkbox::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: #8B8B8B;
  transition: left .2s linear;
}

.search__checkbox:checked + .search__visible-checkbox::after {
  left: 50%;
  background-color: #FFFFFF;
}
