@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Logo/Logo.css);
@import url(./components/Header/BurgerMenu.css);
@import url(./components/Main/Promo.css);
@import url(./components/Main/NavTab.css);
@import url(./components/Main/AboutProject.css);
@import url(./components/Main/Techs.css);
@import url(./components/Main/Portfolio.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Movies/SearchForm.css);
@import url(./components/Movies/MoviesCardList.css);
@import url(./components/Movies/MoviesCard.css);
@import url(./components/Movies/MoreMoviesButton.css);
@import url(./components/Movies/Preloader.css);
@import url(./components/Profile/Profile.css);
@import url(./components/Register/Register.css);
@import url(./components/Login/Login.css);
@import url(./components/NotFoundPage/NotFoundPage.css);
@import url(./components/Movies/NoMovieFound.css);
@import url(./components/InfoPopup/InfoPopup.css);
