.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-page__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .not-found-page__title {
    font-size: 80px;
  }
}

.not-found-page__subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .not-found-page__subtitle{
    font-size: 12px;
  }
}

.not-found-page__link {
  margin: 180px 0 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #4285F4;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 600px) {
  .not-found-page__link{
    font-size: 12px;
  }
}

.not-found-page__link:hover {
  opacity: 0.6;
}
